<title>Generate Password</title>
<div class="container">
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <body style="background-color: white;"></body>
    <h2 style="color: black;">Generate Password</h2>
    <form action="" method="post" role="form">

        <div class="form-group">
            <input type="number" class="form-control" id="length" min=1 max=128 name="length" placeholder="Length" ,
                value="{{ request.form['length'] }}">
            <br>
            <input type="checkbox" class="form-control" id="lower" name="lower" style="float: left; margin-top: 5px;">
            <div style="margin-left: 25px;">
                Lower Case
            </div>
            <br>
            <input type="checkbox" class="form-control" id="upper" name="upper" style="float: left; margin-top: 5px;">
            <div style="margin-left: 25px;">
                Upper Case
            </div>
            <br>
            <input type="checkbox" class="form-control" id="special" name="special"
                style="float: left; margin-top: 5px;">
            <div style="margin-left: 25px;">
                Special Characters
            </div>
            <br>
            <input type="checkbox" class="form-control" id="numbers" name="numbers"
                style="float: left; margin-top: 5px;">
            <div style="margin-left: 25px;">
                Numbers
            </div>
            <br>
            <input type="checkbox" class="form-control" id="ambiguous" name="ambiguous"
                style="float: left; margin-top: 5px;">
            <div style="margin-left: 25px;">
                ambiguous Characters
            </div>
        </div>
        <button type="submit" class="btn btn-success">Generate Password</button>
        <br>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>

    <script>
        $("#checkAll").on("change", function () {
            $(':checkbox').not(this).prop('checked', this.checked);
        });

        $(":checkbox").on("change", function () {
            var checkboxValues = {};
            $(":checkbox").each(function () {
                checkboxValues[this.id] = this.checked;
            });
            $.cookie('checkboxValues', checkboxValues, { expires: 7, path: '/' })
        });

        function repopulateCheckboxes() {
            var checkboxValues = $.cookie('checkboxValues');
            if (checkboxValues) {
                Object.keys(checkboxValues).forEach(function (element) {
                    var checked = checkboxValues[element];
                    $("#" + element).prop('checked', checked);
                });
            }
        }

        $.cookie.json = true;
        repopulateCheckboxes();
    </script>

    <body>
        <h3>Password: </h3>
        <div style="margin-left: 25px;">
            {{ returned_password }}
        </div>
    </body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" in message[1]: %}
    <div class="alert alert-info">
        <strong> {{ message[1] }} </strong>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}
</div>