<title>Generate Password</title>
<div class="container">

    <body style="background-color: white;"></body>
    <h2 style="color: black;">Generate Password</h2>
    <form action="" method="post" role="form">

        <div class="form-group">
            <input type="number" class="form-control" id="length" name="length" placeholder="Length">
            <br>
            <input type="checkbox" class="form-control" id="lower" name="lower" style="float: left; margin-top: 5px;>">
            <div style="margin-left: 25px;">
                Lower Case
            </div>
            <br>
            <input type="checkbox" class="form-control" id="upper" name="upper" style="float: left; margin-top: 5px;>">
            <div style="margin-left: 25px;">
                Upper Case
            </div>
            <br>
            <input type="checkbox" class="form-control" id="special" name="special"
                style="float: left; margin-top: 5px;>">
            <div style="margin-left: 25px;">
                Special Characters
            </div>
            <br>
            <input type="checkbox" class="form-control" id="numbers" name="numbers"
                style="float: left; margin-top: 5px;>">
            <div style="margin-left: 25px;">
                Numbers
            </div>
            <br>
            <input type="checkbox" class="form-control" id="ambiguos" name="ambiguos"
                style="float: left; margin-top: 5px;>">
            <div style="margin-left: 25px;">
                Ambiguos Characters
            </div>
        </div>
        <button type="submit" class="btn btn-success">Generate Password</button>
        <br>
        <div>
            <input type="text" class="text" id="password" name="password" placeholder="Password">
        </div>
    </form>{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Password Generated! </strong>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}
</div>